.card{
  background-color: rgb(240, 235, 235);
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 1px red;
}
.normal{
  background-image: url('./normal.gif');
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.fighting{
  background-image: url('./fighting.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}
.flying{
  background-image: url('./flying.gif');
  padding: 15px;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}
.poison{
  background-image: url('./poison.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.ground{
  background-image: url('./ground.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.rock{
  background-image: url('./rock.gif');
  color:rgb(252, 9, 9);
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
  animation-name:rock;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes rock{
  0% {color:rgb(252, 9, 9);}
  50%{color:rgb(34, 255, 5);}
  100%{color:rgb(0, 0, 0)}
}
.bug{
  background-image: url('./bug.gif');
  padding: 15px;
  color:rgb(255, 255, 255);
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}
.ghost{
  background-image: url('./ghost.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(255, 255, 255);
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.steel{
  background-image: url('./steel.gif');
  color:white;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.fire{
  background-image: url('./fire.gif');
  color: rgb(253, 253, 253);
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.water{
  background-image: url('./water.gif');
  color: aliceblue;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
  animation-name:brillarwater;
  animation-duration: 10s;
  transition-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

.grass{
  background-image: url('./grass.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}
.electric{
  background-image: url('./lightning.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(231, 233, 102);
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.psychic{
  background-image: url('./psychic.gif');
  color: rgb(253, 253, 253);
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.ice{
  background-image: url('./ice.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.dragon{
  background-image: url('./dragon.gif');
  color: aliceblue;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.dark{
  background-image: url('./dark.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.fairy{
  background-image: url('./fairy.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.unknown{
  background-image: url('./unknown.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.shadow{
  background-image: url('./shadow.gif');
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  cursor:pointer;
  border:solid 4px rgb(0, 0, 0);
}

.card__selected{
  background: linear-gradient(0.65turn, #fd1f1f, #ebf8e1, #fd2929);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  min-width: 160px;
  max-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  color: rgb(0, 0, 0);
  border-radius: 1vh;
  cursor:pointer;
  border:dashed transparent;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
  animation-name:selected;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes selected{
  0% {border:dashed 4px rgb(255, 255, 255);
    transition-duration: 1s;}
  50%{border:solid 4px rgb(0, 0, 0);
    transition-duration: 1s;
  }
  100%{border:dashed 4px rgb(0, 0, 0);
    transition-duration: 1s;}
}
