.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
    
}
.flex_night{
    background-image: url('./night.gif');
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-size: cover;
    height: 500px;
    width: 900px;
    border-radius: 5px;
}
.container_camp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex_camp{
    background-color: aliceblue;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    width: 15vh;
    height: 15vh;
}

.pokemon_container{
    filter: contrast(20);
}

.img_captured{
    /* background-image: url('./bright.gif'); */
    background-position-x:-10px ;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    width: 15vh;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 4s;
    transition-timing-function: linear;
    animation-name:desaparece;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 50%;
}

@keyframes desaparece{
    0% {
        transform:translate(0px,0px) ;
        filter:blur(2px);
    }
    70%{
        transform:skew(10deg,40deg);
        filter:blur(3px)
    }
    100%{
        transform:scale(0)
    }
  }
.container_btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.btn_next{
    background-image: url('./Run.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    color: rgb(252, 249, 249);
    margin: 10px;
    height: 80px;
    width: 100px;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}

.btn_next:hover{
    filter: brightness(150%);
}
.btn_next:active{
    filter: brightness(50%);
} 

.btn_capture{
    background-image: url('./capture.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    color: black;
    margin: 10px;
    height: 80px;
    width: 100px;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}
.btn_capture:hover{
    filter: brightness(150%);
}
.btn_capture:active{
    filter: brightness(50%);
}

.btn_txt{
    padding: 10px;
    margin-top: 10px;
}
.pokeball{
    background-color: transparent;
    position: absolute;
    left: auto;
    top: auto;
    width: 100px;
    height: 100px;
    transition: 1s;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: linear;
    animation-name:capture;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 50%;
}

@keyframes capture{
    0% {transform:translate(120px,300px)}
    50%{
        transform:rotate(500deg);
        background-color: transparent;
        filter:brightness(100%) blur(0px);
        border-radius: 50%;
    }
    65%{
        transform:translate(45%,100px) scale(250%)rotate(1300deg);
        background-color: rgb(250, 250, 250);
        filter: brightness(150%) blur(20px);
        border:none;
    }
    75%{
        transform:translate(45%,100px) scale(250%);
        background-color: yellow;
        filter: brightness(150%) blur(20px);
        border:solid 10px  red;
        border-radius: 0%;
    }
    80%{
        transform:translate(45%,100px) scale(250%);
        background-color: rgb(255, 0, 0);
        border:solid 10px  rgb(255, 255, 255);
        filter: brightness(150%) blur(20px);
    }
    85%{
        transform:translate(-90%,-100px);
        background-color: transparent;
        filter: brightness(100%) blur(0px);
        border:none;
        border-radius: 50%;
    }
    100%{transform:scale(0)}
  }


@media screen and (max-width:500px){
    .flex_night{
        background-image: url('./night.gif');
        background-repeat: no-repeat;
        background-position-y: -110px;
        background-position-x: -400px;
        background-size: cover;
        height: 600px;
        width: 300px;
        border-radius: 5px;
    }
    .flex_camp{
        background-color: aliceblue;
        height: 100px;
        width: 300px;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .pokeball{
        background-color: transparent;
        position: absolute;
        left: auto;
        top: auto;
        width: 100px;
        height: 100px;
        transition: 1s;
        transition-property: all;
        transition-duration: 3s;
        transition-timing-function: linear;
        animation-name:capture;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        border-radius: 50%;
    }
    
    @keyframes capture{
        0% {transform:translate(80px,420px)}
        50%{
            transform:rotate(500deg);
            background-color: transparent;
            filter:brightness(100%) blur(0px);
            border-radius: 50%;
        }
        65%{
            transform:translate(45%,100px) scale(250%)rotate(1300deg);
            background-color: rgb(250, 250, 250);
            filter: brightness(150%) blur(20px);
            border:none;
        }
        75%{
            transform:translate(45%,100px) scale(250%);
            background-color: yellow;
            filter: brightness(150%) blur(20px);
            border:solid 10px  red;
            border-radius: 0%;
        }
        80%{
            transform:translate(45%,100px) scale(250%);
            background-color: rgb(255, 0, 0);
            border:solid 10px  rgb(255, 255, 255);
            filter: brightness(150%) blur(20px);
        }
        85%{
            transform:translate(-90%,-120px);
            background-color: transparent;
            filter: brightness(100%) blur(0px);
            border:none;
            border-radius: 50%;
        }
        100%{transform:scale(0)}
      }
}