.ring_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card_player{
    padding-top: 50px;
    border-radius: 10px;
    background-color: white;
    font-size: 12px;
    text-align: center;
    color: #000;
    height: 200px;
    width: 150px;
  }

.card_enemy{
    padding-top: 50px;
    border-radius: 10px;
    background-color: white;
    font-size: 12px;
    text-align: center;
    color: #000;
    height: 200px;
    width: 150px;
  }
@media screen and (max-width:500px){
    .card_player{
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
        background-color: white;
        font-size: 12px;
        text-align: center;
        color: #000;
        height: 140px;
        width: 150px;
      }

    .card_enemy{
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
        background-color: white;
        font-size: 12px;
        text-align: center;
        color: #000;
        height: 140px;
        width: 150px;
    }
}