*{
  font-family: 'Press Start 2P','Fira Sans';
  font-weight: 50%;
}

.Navbar_cointainer {
  display: flex;
  flex-direction: row;
  background-color:transparent;
  flex-wrap: nowrap;
  max-height: 30vh;
  margin-top: 10px;
  padding: 2vh;
  margin-bottom: 10px;
} 

.Navbar {
  display: flex;
  flex-direction: row;
  background-color:transparent;
  flex-wrap: wrap;
  font-size: 12px;
  max-height: 70px;
  margin-bottom: 100px;
} 

.Searcher{
  display: flex;
  position:relative;
  justify-content: center;
}
.btn__random{
  background-image: url(./components/random.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  min-height:12vh;
  width: 8vh;
  border: none;
  cursor:pointer;
}
.btn__random:hover{
  filter: brightness(150%);
}
.btn__random:active{
  filter: brightness(50%);
}
.Searchrbar__input{
  width: 75%;
  padding: 9x;
  margin:7px 0;
  border:none;
  border-bottom: 3px solid rgb(190, 15, 15);
  background: transparent;
  color: #fff;
  max-width: 100px;
}

.Searchrbar__input:focus{
  background:transparent;
  outline:none ;
  border-bottom: 3px solid ;
}

.btn{
  margin: 0.5vh;
  padding: 10px;
  padding-top: 20px;
  background-color:transparent;
  color:rgb(190, 15, 15);
  border: solid 5px rgb(190, 15, 15);
  border-radius: 0.7vh;
  text-decoration: none;
}
.btn:hover {
  color:#fff;
}





.flex-cointainer{
  display: flex;
  border:none;
  background-color:transparent;
  height: 100vh;
  flex-wrap: wrap;
  
}
.flex-cointaine_home{
  background-image: url(https://images.unsplash.com/photo-1610692567145-2c1fe6bf9c3f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: center;
  animation:container 1s;
  background-attachment: fixed;
}
@keyframes container {
  0% {
    background:  #000;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(120px);
    background-attachment: fixed;
  }
  100% {
    background: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1610692567145-2c1fe6bf9c3f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80);
    background-attachment: fixed;
  }
}
.text_home_lorem{
  font-size: 1em;
  font-family: Georgia;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.ring{
  padding: 30px;
  border-radius: 30px;
  background-color: white;
  height: 300px;
  width: 200px;
  color:#000;
}

.card_tobaltte{
  padding-top: 50px;
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  color: #000;
  height: 200px;
  width: 150px;
}

.card_tobaltte__player{
  padding-top: 50px;
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  color: #000;
  height: 200px;
  width: 150px;
}
.btn__cointainer{
  display: inline;
  padding: 10px;
}

.ready-btn{
  display: flex;
  justify-content: space-between;
  background:transparent;
  padding: 10px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
  height: 40px;
  width: 400px;
}

.btn_fgt {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 60px;
  color:#fff;
  border: solid rgb(190, 15, 15);
  border-radius: 1vh;
  background-color:transparent;
  font-size: 12px;
  cursor: pointer;
}
.btn_fgt:hover {
  color:yellow;
}
.buttom-pokeball{
  background:rgb(190, 15, 15);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.buttom-pokeball_test{
  background-color:transparent;
  background-image:url(https://i.etsystatic.com/19711625/r/il/a33e1a/1894190610/il_794xN.1894190610_m2v4.jpg) ;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  background-size: cover;
  transform: translate(0,-5px);
  cursor: pointer;
}

.buttom-pokeball_test:hover{
  background-color:transparent;
  background-image:url(https://i.etsystatic.com/19711625/r/il/a33e1a/1894190610/il_794xN.1894190610_m2v4.jpg) ;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  background-size: cover;
  transform: translate(0,-5px);
  cursor: pointer;
  animation-name:rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  
}

@keyframes rotate {
  0% {
    transform:translate(0,-5px);
  }
  50% {
    transform: rotate(45deg) translate(0,-5px);
    transition:0.5s;
  }
  100% {
    transform: rotate(-45deg) translate(0,-5px);
    transition:0.5s;
  }
} 

.text_home{
  font-size: 4em;
  font-family: Georgia;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  animation-fill-mode: both;
  
}

@keyframes home {
  0% {
    transform:translate(-160px);
    filter:(10px);
  }
  25% {
    transform:translate(-80px);
    filter:blur(0px);
  }
  75% {
    transform: translate(80px);
    filter:blur(0px);
  }
  100% {
    transform: translate(160px);
    filter:blur(10px);
  }
}
.flex-cointainer_nav{
  display: flex;
  border:none;
  background-color:transparent;
  height: 50px;
  flex-wrap: wrap;
}


.flex-item{
  background-color: rgb(190, 15, 15);
  padding-top: 17px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 30px;
  width: 20vh;
  max-height: 3vh;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  border-radius: 1.5vh;
  border-bottom:solid #fff;
  border-right:solid #fff;
}
.flex-cointainer__card{
  display: flex;
  border:none;
  background-color:transparent;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-item__card{
  background-color: rgb(190, 15, 15);
  padding: 15px;
  min-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  border-bottom:solid #fff;
  border-right:solid #fff;
  cursor:pointer;

}

.flex-item__card_selected{
  background-color: yellow;
  padding: 15px;
  min-width: 160px;
  text-align: center;
  margin:10px;
  height: 170px;
  border-radius: 1vh;
  border-bottom:solid #fff;
  border-right:solid #fff;
  cursor:pointer;
}


.card_text{
  font-size: 1em;
  font-family: Georgia;
  text-align: left;
  line-height: 1.2;
  order:3;
}
.img_card{
  min-width: 15px;
  max-width: 20px;
  position: relative;
  left: 50px;
  top: 40px;
  transform: scale(3);
}

@keyframes img {
  0% {
    transform:scale(3);
  }
  100% {
    transform: scale(10)translate(0, 40%);
    transition:0.5s;
  }
} 

.flex-cointainer__searcher{
  display: flex;
  max-height: 50px;
  border:medium solid gray;
  background-color: #fff;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  
}
.body{
  display: flex;
  flex-direction: column;
  background-color: #111;
  
}

.bag4{
  background: blue;
  align-self: baseline;
  flex-grow: 1;
}

.bag3{
  background: yellow;
  flex-grow: 2;
  margin-top: auto;
}

.body{
  background-color: #000;
  padding: 10px;
}

.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #444;
  margin:50px 50px;
  border: 14px solid #000;
  outline: 3px solid rgb(194, 202, 197);
}

.form{
  min-width:400px;
  flex:1;
  text-align: center;
  padding: 30px;
  order:3;
}

.img{
  width: 15px;
  transform: scale(3) ;
}

.txt__cointainer{
  display: flex;
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 3px;
}


.txt__stats{
  transform: scale(0)translate(0px,0) ;
  color: #fff;
  animation:mostrar;
  animation-duration: 1s;
  animation-iteration-count: 1;
  user-select: none;
  animation-fill-mode: both;
}

@keyframes mostrar {
  0% {
    transform:scale(1)translate(0px,0px)
  }
  100% {
    transform: scale(1)translate(0px,0px);
    transition:0.5s;
  }
}
.form__input{
  width: 75%;
  padding: 9x;
  margin:7px 0;
  border:none;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #fff;
  order:2;
}

.form__input:focus{
  background:linear-gradient(to bottom,transparent,#333);
  outline:none ;
  border-bottom: 3px solid #fff;
}

.form textarea{
  min-height: 150px;
  resize: none;
}


.form-img{
  flex:1;
  padding: 10px;
  margin-right: 15px;
  display: flex;
  min-width: 300px;
  max-width:300px;
  order:1;

}

.img-container{
  margin-left: 20px;
  margin-top: 15px;

}

.img-container div{
  padding: 10px;
  margin:auto;
  background-color: #fff;
  border-radius: 50%;
  padding:40px;

}

.form-img img{
  width: 80%;
  margin:auto;
  border-radius: 50%;
  background-color: #fff;
  padding: 20px;
}

.form input[type="submit"]{
  background-color:rgb(190, 15, 15);
  border-bottom:none;
  padding: 15px;
  cursor:pointer;
}
.form input[type="submit"]:hover{
  background-color:rgb(190, 15, 15);
  border-bottom:none;
  padding: 15px;

}

.form input[type="submit"]:focus{
  background: color red;
}

.form input[type="submit"]:active{
  background:linear-gradient(to bottom,rgb(230, 35, 35),rgb(190, 15, 15));
}



/* ////////////////// */


